.container{
    width: 90%;
    height: 100%;
}
.header,.footer{
    width: 90%;
    height: 150px;
    background-color: rgb(17, 125, 158);
}
.main-content{
    width: 90%;
    height: 800px;
    background-color: pink;
    text-align: center;
}

.box{
    width: 250px;
    height: 300px;
    background-color: aqua;
    margin: 20px;
    padding: 10px;
    float: left;
}